body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: 100% 1000px;

}

/*nav bar*/
header {
    background-color: #ffffff7c;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fc0f0f;
    padding: 1em;
    height: 40px;
}

header a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header a:hover {
    background-color: #f3ececb7;
    color: #333;
}

h1 {
    font-size: 30px;
    margin-right: auto;
}

/* section */

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: hsla(189, 90%, 79%, 0.89);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {

    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h4 a:hover {
    background-color: #f3ececb7;
    color: #333;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* vi div class posts */
.vi {
    display: flex;
}

.vi h3 {
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Times, serif;
    color: #181212d8;
}

.hg {
    margin-top: 20px;
    margin-left: 5px;
}

.vi img {
    width: 300px;
}



/* footor */
footer {
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: #333;
    position: fixed;
    bottom: 0;
    padding: 10px;
    color: #fff;
}